In [14]:
# import pandas as pd
from pandas.errors import SettingWithCopyWarning
import warnings
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
from include.beauti_print import *
from include.create_basketball_player_data import *

<div class="alert alert-block alert-success">
To keep the notebook clean and make it more readable, I have kept all the user defined functions inside the include folder.
</div>

<div style=" line-height: 90px;height: 90px;text-align: center; font-size: 60px; background-color: NavajoWhite ; color: white;">
Dataset building
</div>
<p>
I have collected the required data for the project from two website.

1. __[number fire](https://www.numberfire.com)__: A website that provides details such as team ranking, players ranking, players statistics etc.
1. __[the sports db](https://www.thesportsdb.com/free_sports_api)__: Which provides api for datils about verious sports, players, team etc (I am using this api to fetch basic details like players age, height, weight etc)
</p>

#### How to create the dataset ?
<p>

1. You can follow the dataset.
1. You can download the dataset from __[here](https://github.com/manab36/Data-Analysis/blob/bd0414d026b2720f96bf34bf7d981c692279a542/dataset/basketball_players.csv)__.
1. You can modify(the output location if needed) and run the include/create_basketball_player_data.py script.
</p>

<div style=" line-height: 70px;height: 70px;text-align: center; font-size: 50px; background-color: OldLace; color: white;">
Step I. webscraping from <a href="[numberfire](https://www.numberfire.com)">numberfire</a>
</div>

<p>

From the numberfire website we will scape the data using __[BeautifulSoup](https://beautiful-soup-4.readthedocs.io/en/latest/)__. <br>
1. To Get all players name and rankings participating in NBA.
1. To get all teams name and rankings participating in NBA.
</p>

In [2]:
players_details_df= get_players_details_numberfire()
players_details_df

                      player      efficiency                statistics        \
                        name rank       nerd nf_eff fantasy        mpg   ppg
0               Nikola Jokic    1       23.6    7.4   14.67       34.5  26.1
1    Shai Gilgeous-Alexander    2       23.4    7.4   13.47       34.4  30.3
2      Giannis Antetokounmpo    3       19.6    6.2    6.24       35.2  30.8
3                Luka Doncic    4       16.6    5.3    8.73       37.4  34.0
4              Anthony Davis    5       14.0    4.3   13.60       35.9  24.7
..                       ...  ...        ...    ...     ...        ...   ...
494            Malachi Flynn  492       -2.7   -2.9   -6.79       11.8   4.6
495           Keldon Johnson  496       -2.8   -1.1    0.00       29.6  15.8
496          Nah'Shon Hyland  496       -2.8   -5.0   -8.15       13.6   5.8
497           Gordon Hayward  498       -2.9   -2.0   -4.87       25.0  10.0
498           Doug McDermott  498       -2.9   -2.7   -6.27       14.4   5.5


      rpg  apg
0    12.3  9.0
1     5.5  6.3
2    11.5  6.4
3     9.1  9.8
4    12.7  3.6
..    ...  ...
494   1.6  1.6
495   5.5  2.9
496   1.1  2.2
497   3.7  3.3
498   1.0  1.1

[499 rows x 9 columns]

In [3]:
players_details_df.columns = [i+'_'+v for i,v in players_details_df.columns.tolist()]
players_details_df

,player_name,player_rank,efficiency_nerd,efficiency_nf_eff,efficiency_fantasy,statistics_mpg,statistics_ppg,statistics_rpg,statistics_apg
0,Nikola Jokic,1,23.6,7.4,14.67,34.5,26.1,12.3,9.0
1,Shai Gilgeous-Alexander,2,23.4,7.4,13.47,34.4,30.3,5.5,6.3
2,Giannis Antetokounmpo,3,19.6,6.2,6.24,35.2,30.8,11.5,6.4
3,Luka Doncic,4,16.6,5.3,8.73,37.4,34.0,9.1,9.8
4,Anthony Davis,5,14.0,4.3,13.60,35.9,24.7,12.7,3.6
...,...,...,...,...,...,...,...,...,...
494,Malachi Flynn,492,-2.7,-2.9,-6.79,11.8,4.6,1.6,1.6
495,Keldon Johnson,496,-2.8,-1.1,0.00,29.6,15.8,5.5,2.9
496,Nah'Shon Hyland,496,-2.8,-5.0,-8.15,13.6,5.8,1.1,2.2
497,Gordon Hayward,498,-2.9,-2.0,-4.87,25.0,10.0,3.7,3.3
498,Doug McDermott,498,-2.9,-2.7,-6.27,14.4,5.5,1.0,1.1

In [4]:
players_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player_name         499 non-null    object
 1   player_rank         499 non-null    object
 2   efficiency_nerd     499 non-null    object
 3   efficiency_nf_eff   499 non-null    object
 4   efficiency_fantasy  499 non-null    object
 5   statistics_mpg      499 non-null    object
 6   statistics_ppg      499 non-null    object
 7   statistics_rpg      499 non-null    object
 8   statistics_apg      499 non-null    object
dtypes: object(9)
memory usage: 35.2+ KB

In [5]:
team_details_df= get_team_details_numberfire()
team_details_df

                      team team_rank          conference   division
0           Boston Celtics         1  Eastern Conference   Atlantic
1          New York Knicks         8  Eastern Conference   Atlantic
2       Philadelphia 76ers        13  Eastern Conference   Atlantic
3            Brooklyn Nets        22  Eastern Conference   Atlantic
4          Toronto Raptors        23  Eastern Conference   Atlantic
5          Milwaukee Bucks         6  Eastern Conference    Central
6      Cleveland Cavaliers         9  Eastern Conference    Central
7           Indiana Pacers        15  Eastern Conference    Central
8            Chicago Bulls        20  Eastern Conference    Central
9          Detroit Pistons        27  Eastern Conference    Central
10           Orlando Magic        12  Eastern Conference  Southeast
11              Miami Heat        14  Eastern Conference  Southeast
12           Atlanta Hawks        21  Eastern Conference  Southeast
13      Washington Wizards        28  Eastern Conference  Southeast
14       Charlotte Hornets        30  Eastern Conference  Southeast
15    New Orleans Pelicans         4  Western Conference  Southwest
16        Dallas Mavericks        11  Western Conference  Southwest
17         Houston Rockets        17  Western Conference  Southwest
18       San Antonio Spurs        25  Western Conference  Southwest
19       Memphis Grizzlies        26  Western Conference  Southwest
20   Oklahoma City Thunder         2  Western Conference  Northwest
21  Minnesota Timberwolves         3  Western Conference  Northwest
22          Denver Nuggets         5  Western Conference  Northwest
23               Utah Jazz        24  Western Conference  Northwest
24  Portland Trail Blazers        29  Western Conference  Northwest
25    Los Angeles Clippers         7  Western Conference    Pacific
26            Phoenix Suns        10  Western Conference    Pacific
27   Golden State Warriors        16  Western Conference    Pacific
28      Los Angeles Lakers        18  Western Conference    Pacific
29        Sacramento Kings        19  Western Conference    Pacific

In [6]:
team_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   team        30 non-null     object
 1   team_rank   30 non-null     object
 2   conference  30 non-null     object
 3   division    30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

<div class="center_header">

### Step II. api call __[thesportsdb](https://www.thesportsdb.com/free_sports_api)__
</div>
<p>

To get the general details about the players from the list we got from the numberfire website we will call api using __[request](https://requests.readthedocs.io/en/latest/)__. <br>
The data here is noisy (some columns have different types of values like for some player the api will provide the height in cm, in feet, maximum having both etc) and have too many columns, so we also need to clean the data a bit before making the final dataset
</p>

<style>
  .center_header {
  line-height: 70px;
  height: 75px;
  border: 5px solid green;
  text-align: center;
  font-size: x-large;
  }
</style>

In [7]:
players_details_2_df= get_players_details_by_list_name(players_details_df['player_name'])
players_details_2_df

100%|██████████| 499/499 [11:43<00:00,  1.41s/it]

,idPlayer,idTeam,idTeam2,idTeamNational,idSoccerXML,idAPIfootball,idPlayerManager,idWikidata,strNationality,strPlayer,...,strThumb,strCutout,strRender,strBanner,strFanart1,strFanart2,strFanart3,strFanart4,strCreativeCommons,strLocked
0,34165427,134885,0,None,None,None,None,None,Serbia,Nikola Jokić,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,None,None,None,No,unlocked
1,34164224,134887,0,None,None,None,None,None,Canada,Shai Gilgeous-Alexander,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,None,None,No,unlocked
2,34161165,134874,0,None,None,None,None,None,Greece,Giannis Antetokounmpo,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,None,None,None,No,unlocked
3,34160864,134875,0,None,0,None,None,None,Slovenia,Luka Dončić,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,No,unlocked
4,34154079,134867,0,None,0,None,None,None,USA,Anthony Davis,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,No,unlocked
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,34196139,134886,0,None,None,None,None,None,United States,Jaden McDaniels,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,None,None,None,No,unlocked
472,34196120,134872,0,None,None,None,None,None,United States,Malachi Flynn,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,None,None,None,No,unlocked
473,34168040,134879,136741,None,None,None,None,None,United States,Keldon Johnson,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,None,None,None,No,unlocked
474,34164017,134887,0,None,None,None,None,None,United States,Gordon Hayward,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,None,None,None,No,unlocked
475,34159832,134873,0,None,0,None,None,None,United States,Doug McDermott,...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,https://www.thesportsdb.com/images/media/playe...,None,None,None,None,None,No,unlocked

In [8]:
players_details_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 63 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   idPlayer            476 non-null    object
 1   idTeam              476 non-null    object
 2   idTeam2             473 non-null    object
 3   idTeamNational      0 non-null      object
 4   idSoccerXML         43 non-null     object
 5   idAPIfootball       6 non-null      object
 6   idPlayerManager     2 non-null      object
 7   idWikidata          0 non-null      object
 8   strNationality      476 non-null    object
 9   strPlayer           476 non-null    object
 10  strPlayerAlternate  453 non-null    object
 11  strTeam             476 non-null    object
 12  strTeam2            473 non-null    object
 13  strSport            476 non-null    object
 14  intSoccerXMLTeamID  2 non-null      object
 15  dateBorn            476 non-null    object
 16  strNumber           473 non-null    object
 17  dateSigned          2 non-null      object
 18  strSigning          474 non-null    object
 19  strWage             473 non-null    object
 20  strOutfitter        473 non-null    object
 21  strKit              473 non-null    object
 22  strAgent            473 non-null    object
 23  strBirthLocation    476 non-null    object
 24  strEthnicity        441 non-null    object
 25  strStatus           473 non-null    object
 26  strDescriptionEN    473 non-null    object
 27  strDescriptionDE    0 non-null      object
 28  strDescriptionFR    2 non-null      object
 29  strDescriptionCN    0 non-null      object
 30  strDescriptionIT    1 non-null      object
 31  strDescriptionJP    0 non-null      object
 32  strDescriptionRU    0 non-null      object
 33  strDescriptionES    35 non-null     object
 34  strDescriptionPT    0 non-null      object
 35  strDescriptionSE    0 non-null      object
 36  strDescriptionNL    0 non-null      object
 37  strDescriptionHU    0 non-null      object
 38  strDescriptionNO    0 non-null      object
 39  strDescriptionIL    0 non-null      object
 40  strDescriptionPL    0 non-null      object
 41  strGender           476 non-null    object
 42  strSide             473 non-null    object
 43  strPosition         476 non-null    object
 44  strCollege          1 non-null      object
 45  strFacebook         474 non-null    object
 46  strWebsite          474 non-null    object
 47  strTwitter          474 non-null    object
 48  strInstagram        474 non-null    object
 49  strYoutube          473 non-null    object
 50  strHeight           476 non-null    object
 51  strWeight           476 non-null    object
 52  intLoved            476 non-null    object
 53  strThumb            472 non-null    object
 54  strCutout           461 non-null    object
 55  strRender           467 non-null    object
 56  strBanner           6 non-null      object
 57  strFanart1          16 non-null     object
 58  strFanart2          12 non-null     object
 59  strFanart3          10 non-null     object
 60  strFanart4          9 non-null      object
 61  strCreativeCommons  476 non-null    object
 62  strLocked           476 non-null    object
dtypes: object(63)
memory usage: 234.4+ KB

In [19]:
clean_player_details_df= clean_player_details_data(players_details_2_df)
clean_player_details_df

,player_name,team,sport,birth_date,birth_location,active_status,gender,height_in_m,weight_in_lb
0,Nikola Jokić,Denver Nuggets,Basketball,1995-02-19,"Sombor, Serbia, FR Yugoslavia",True,M,2.11,284.0
1,Shai Gilgeous-Alexander,Oklahoma City Thunder,Basketball,1998-07-12,"Toronto, Ontario",True,M,1.98,180.0
2,Giannis Antetokounmpo,Milwaukee Bucks,Basketball,1994-12-06,"Athens, Greece",True,M,2.11,242.0
3,Luka Dončić,Dallas Mavericks,Basketball,1999-02-28,"Ljubljana, Slovenia",True,M,2.01,230.0
4,Anthony Davis,Los Angeles Lakers,Basketball,1993-03-11,"Chicago, Illinois",True,M,2.08,253.0
...,...,...,...,...,...,...,...,...,...
471,Jaden McDaniels,Minnesota Timberwolves,Basketball,2000-09-29,"Federal Way, Washington, U.S.",True,M,2.06,185.0
472,Malachi Flynn,Detroit Pistons,Basketball,1998-05-10,"Tacoma, Washington, U.S.",True,M,1.85,175.0
473,Keldon Johnson,San Antonio Spurs,Basketball,1999-11-11,"Chesterfield, Virginia",True,M,1.96,220.0
474,Gordon Hayward,Oklahoma City Thunder,Basketball,1990-03-23,"Indianapolis, Indiana",True,M,2.01,225.0
475,Doug McDermott,Indiana Pacers,Basketball,1992-01-03,"Grand Forks, North Dakota",True,M,2.01,225.0

In [20]:
clean_player_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   player_name     476 non-null    object
 1   team            476 non-null    object
 2   sport           476 non-null    object
 3   birth_date      476 non-null    object
 4   birth_location  476 non-null    object
 5   active_status   476 non-null    bool
 6   gender          476 non-null    object
 7   height_in_m     471 non-null    float64
 8   weight_in_lb    469 non-null    float64
dtypes: bool(1), float64(2), object(6)
memory usage: 30.3+ KB

<div class="center_header">

### Step III. merge all the details in one table
</div>

<p>

1. Merge the table with the general data of the player, with the teams details
1. Merge the previously merged data with players ranking data
1. Dump the final table to a csv file
</p>
<style>
  .center_header {
  line-height: 70px;
  height: 75px;
  border: 5px solid green;
  text-align: center;
  font-size: x-large;
  }
</style>

In [21]:
merge_df= clean_player_details_df.merge(team_details_df, on='team', how= 'left', indicator=True)
merge_df= merge_df[merge_df["_merge"]== "both"].drop(columns= "_merge")
merge_df

,player_name,team,sport,birth_date,birth_location,active_status,gender,height_in_m,weight_in_lb,team_rank,conference,division
0,Nikola Jokić,Denver Nuggets,Basketball,1995-02-19,"Sombor, Serbia, FR Yugoslavia",True,M,2.11,284.0,5,Western Conference,Northwest
1,Shai Gilgeous-Alexander,Oklahoma City Thunder,Basketball,1998-07-12,"Toronto, Ontario",True,M,1.98,180.0,2,Western Conference,Northwest
2,Giannis Antetokounmpo,Milwaukee Bucks,Basketball,1994-12-06,"Athens, Greece",True,M,2.11,242.0,6,Eastern Conference,Central
3,Luka Dončić,Dallas Mavericks,Basketball,1999-02-28,"Ljubljana, Slovenia",True,M,2.01,230.0,11,Western Conference,Southwest
4,Anthony Davis,Los Angeles Lakers,Basketball,1993-03-11,"Chicago, Illinois",True,M,2.08,253.0,18,Western Conference,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...
471,Jaden McDaniels,Minnesota Timberwolves,Basketball,2000-09-29,"Federal Way, Washington, U.S.",True,M,2.06,185.0,3,Western Conference,Northwest
472,Malachi Flynn,Detroit Pistons,Basketball,1998-05-10,"Tacoma, Washington, U.S.",True,M,1.85,175.0,27,Eastern Conference,Central
473,Keldon Johnson,San Antonio Spurs,Basketball,1999-11-11,"Chesterfield, Virginia",True,M,1.96,220.0,25,Western Conference,Southwest
474,Gordon Hayward,Oklahoma City Thunder,Basketball,1990-03-23,"Indianapolis, Indiana",True,M,2.01,225.0,2,Western Conference,Northwest
475,Doug McDermott,Indiana Pacers,Basketball,1992-01-03,"Grand Forks, North Dakota",True,M,2.01,225.0,15,Eastern Conference,Central

In [23]:
merge_df_2= merge_df.merge(players_details_df, on='player_name', how= 'left', indicator=True)
final_data= merge_df_2[merge_df_2["_merge"]== "both"].drop(columns= "_merge")
final_data

,player_name,team,sport,birth_date,birth_location,active_status,gender,height_in_m,weight_in_lb,team_rank,conference,division,player_rank,efficiency_nerd,efficiency_nf_eff,efficiency_fantasy,statistics_mpg,statistics_ppg,statistics_rpg,statistics_apg
1,Shai Gilgeous-Alexander,Oklahoma City Thunder,Basketball,1998-07-12,"Toronto, Ontario",True,M,1.98,180.0,2,Western Conference,Northwest,2,23.4,7.4,13.47,34.4,30.3,5.5,6.3
2,Giannis Antetokounmpo,Milwaukee Bucks,Basketball,1994-12-06,"Athens, Greece",True,M,2.11,242.0,6,Eastern Conference,Central,3,19.6,6.2,6.24,35.2,30.8,11.5,6.4
4,Anthony Davis,Los Angeles Lakers,Basketball,1993-03-11,"Chicago, Illinois",True,M,2.08,253.0,18,Western Conference,Pacific,5,14.0,4.3,13.60,35.9,24.7,12.7,3.6
5,Jayson Tatum,Boston Celtics,Basketball,1998-03-03,"St. Louis, Missouri, USA",True,M,2.03,209.0,1,Eastern Conference,Atlantic,6,13.2,4.1,7.59,35.9,27.2,8.3,4.9
6,Jalen Brunson,New York Knicks,Basketball,1996-08-31,"New Brunswick, New Jersey",True,M,1.85,190.0,8,Eastern Conference,Atlantic,7,13.0,4.2,4.42,35.1,27.9,3.6,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Jaden McDaniels,Minnesota Timberwolves,Basketball,2000-09-29,"Federal Way, Washington, U.S.",True,M,2.06,185.0,3,Western Conference,Northwest,492,-2.7,-1.1,-2.71,29.4,10.8,3.2,1.4
428,Malachi Flynn,Detroit Pistons,Basketball,1998-05-10,"Tacoma, Washington, U.S.",True,M,1.85,175.0,27,Eastern Conference,Central,492,-2.7,-2.9,-6.79,11.8,4.6,1.6,1.6
429,Keldon Johnson,San Antonio Spurs,Basketball,1999-11-11,"Chesterfield, Virginia",True,M,1.96,220.0,25,Western Conference,Southwest,496,-2.8,-1.1,0.00,29.6,15.8,5.5,2.9
430,Gordon Hayward,Oklahoma City Thunder,Basketball,1990-03-23,"Indianapolis, Indiana",True,M,2.01,225.0,2,Western Conference,Northwest,498,-2.9,-2.0,-4.87,25.0,10.0,3.7,3.3
431,Doug McDermott,Indiana Pacers,Basketball,1992-01-03,"Grand Forks, North Dakota",True,M,2.01,225.0,15,Eastern Conference,Central,498,-2.9,-2.7,-6.27,14.4,5.5,1.0,1.1

In [24]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 407 entries, 1 to 431
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player_name         407 non-null    object
 1   team                407 non-null    object
 2   sport               407 non-null    object
 3   birth_date          407 non-null    object
 4   birth_location      407 non-null    object
 5   active_status       407 non-null    bool
 6   gender              407 non-null    object
 7   height_in_m         407 non-null    float64
 8   weight_in_lb        406 non-null    float64
 9   team_rank           407 non-null    object
 10  conference          407 non-null    object
 11  division            407 non-null    object
 12  player_rank         407 non-null    object
 13  efficiency_nerd     407 non-null    object
 14  efficiency_nf_eff   407 non-null    object
 15  efficiency_fantasy  407 non-null    object
 16  statistics_mpg      407 non-null    object
 17  statistics_ppg      407 non-null    object
 18  statistics_rpg      407 non-null    object
 19  statistics_apg      407 non-null    object
dtypes: bool(1), float64(2), object(17)
memory usage: 64.0+ KB

In [27]:
final_data.to_csv(R"dataset\basketball_players.csv")

<div class="center_header">

# Dataset Exploring

</div>

<style>
  .center_header {
  line-height: 90px;
  height: 100px;
  border: 5px solid blue;
  text-align: center;
  font-size: xx-large;
  }
</style>